{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}
    {{ form_row(form.image_name ) }}
    {{ form_row(form.description ) }}
    {{ form_row(form.date ) }}
    {{ form_row(form.trueDate ) }}

    <div style="margin-left: 0px" class="row">
        {{ form_row(form.save) }}
        <form method="get" action="https://127.0.0.1:8000/posts">
            <button style="width: 70px; margin-left: 5px ; padding:0px 0px"  class="btn btn-secondary" type="submit">Back</button>
        </form>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
